.env
.env.*

.bash_history
.ssh

.bun
.npm
node_modules
/vendor

*.log

.ai
/.clinerules
CLAUDE.md
/.cursor
/.fleet
/.idea
/.junie
/.nova
.phpstorm.meta.php
/.vscode
/.windsurfrules
/.zed

.DS_Store
Thumbs.db

*.swo
*.swp

*.sqlite*

Homestead.json
Homestead.yaml

auth.json
.ignition.json
.php-cs-fixer.cache
.php-cs-fixer.php
.phpactor.json
.phpunit.cache
.phpunit.result.cache

/bootstrap/cache/**

/public/build
/public/hot
/public/storage
/public/vendor

/storage/**
!/storage/app
!/storage/framework
!/storage/logs

/storage/app/**
!/storage/app/private
!/storage/app/public
/storage/app/private/**
/storage/app/public/**

/storage/framework/**
!/storage/framework/cache
/storage/framework/cache/**
!/storage/framework/cache/data
/storage/framework/cache/data/**
!/storage/framework/sessions
/storage/framework/sessions/**
!/storage/framework/views
/storage/framework/views/**

/storage/logs/**

.git
.gitattributes
.github
.gitignore
.gitkeep

.dockerignore

*.md
*.mdx
LICENSE
