.env
.env.backup

.bash_history
.ssh

.bun
.npm
node_modules
/vendor

*.log

.ai
/.clinerules
CLAUDE.md
/.cursor
/.fleet
/.idea
/.junie
/.nova
.phpstorm.meta.php
/.vscode
/.windsurfrules
/.zed

.DS_Store
Thumbs.db

*.swo
*.swp

*.sqlite*

Homestead.json
Homestead.yaml

auth.json
.ignition.json
.php-cs-fixer.cache
.php-cs-fixer.php
.phpactor.json
.phpunit.cache
.phpunit.result.cache

/public/build
/public/hot
/public/storage
/public/vendor

/storage/**
!/storage/app
!/storage/framework
!/storage/logs
