.env
.env.backup
.env.secrets

.bash_history
.ssh

.bun
.npm
node_modules
/vendor

*.log

/.cursor
CLAUDE.md
/.fleet
/.idea
/.nova
.phpstorm.meta.php
/.vscode
/.zed

.DS_Store

*.sqlite*

auth.json
.ignition.json
.phpunit.cache
.phpunit.result.cache

/public/build
/public/hot
/public/storage
/public/vendor

/storage/**
!/storage/app
!/storage/framework
!/storage/logs
